@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #520591;
  font-family: 'Muli', sans-serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin: 0;
}

.password {
  background-color: #310658;
  width: 310px;
  height: 330px;
  padding: 20px;
}

.input {
  background-color: #0c0c27;
  padding: 5px;
  justify-content: space-between;
  display: flex;
}

.input input {
  background-color: #0c0c27;
  border: none;
}

.input input:focus {
  outline: none;
}

.input button {
  height: 100%;
  background-color: #520591;
  border: none;
  padding: 8px;
}

.input button i {
  color: #fff;
}

.inputFirst {
  width: 100%;
  display: flex;

}

.inputFirst input {
  width: 40px;
  color: #fff;
}

.settings>div {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  color: #fff;
}

.settings button {
  margin-top: 10px;
  width: 100%;
  border: none;
  padding: 6px;
  background-color: #520591;
  color: #fff;
}

.settings {
  padding: 10px 0;
}

h2 {
  color: #fff;
  width: 100%;
  align-items: center;
}